<<<<<<< HEAD
.conteudo {
    padding: 30px;
    overflow-y: scroll;
}

.conteudo .titulo {
    color: #72848c;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 0px 0px 15px 0px;
=======
.conteudo {
    padding: 30px;
    overflow-y: scroll;
}

.conteudo .titulo {
    color: #72848c;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 0px 0px 15px 0px;
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
}