<<<<<<< HEAD
.red { color: $cor-vermelha-1; }
.white { color: $cor-branca; }
.bg-red { background-color: $cor-vermelha-1; }
.bg-blue { background-color: $cor-azul-1; }

.gd-verde-azul { background: $gradiente-1; }
.gd-cinza { background: $gradiente-2; }
.gd-laranja { background: $gradiente-3; }
=======
.red { color: $cor-vermelha-1; }
.white { color: $cor-branca; }
.bg-red { background-color: $cor-vermelha-1; }
.bg-blue { background-color: $cor-azul-1; }

.gd-verde-azul { background: $gradiente-1; }
.gd-cinza { background: $gradiente-2; }
.gd-laranja { background: $gradiente-3; }
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
.gd-azul {background: $gradiente-4; }