body {
  background-color: #444;
  background-image: url(f5124a4f0b347bfb0a8362370452472c.png);
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

