<<<<<<< HEAD
button {
    font-size: $tamanho-medio;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

.botao-destaque {
    background-color: $cor-bg-vermelho;
    color: $cor-branca;
}

.botao-sucesso {
    background-color: $cor-bg-verde;
    color: $cor-branca;
=======
button {
    font-size: $tamanho-medio;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
}

.botao-destaque {
    background-color: $cor-bg-vermelho;
    color: $cor-branca;
}

.botao-sucesso {
    background-color: $cor-bg-verde;
    color: $cor-branca;
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
}