<<<<<<< HEAD
header.principal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header.principal button {
    margin: 5px;
}

@media(max-width: $largura-celular) {
    header.principal {
        justify-content: center;
    }
=======
header.principal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header.principal button {
    margin: 5px;
}

@media(max-width: $largura-celular) {
    header.principal {
        justify-content: center;
    }
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
}