<<<<<<< HEAD
main.conteudo {
    background-color: $cor-bg-primaria; 
    padding: 15px;
=======
main.conteudo {
    background-color: $cor-bg-primaria; 
    padding: 15px;
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
}