<<<<<<< HEAD
aside.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: $cor-primaria;
    color: $cor-branca;
}

@media(max-width: $largura-celular) {
    aside.logo {
        justify-content: center;
    }
=======
aside.logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: $cor-primaria;
    color: $cor-branca;
}

@media(max-width: $largura-celular) {
    aside.logo {
        justify-content: center;
    }
>>>>>>> ec2fe0ed0a0234e021dd53c74b9bd62ec07f1f0f
}